@import "../../../styles.scss";

.active {
  background-color: #5981ea!important;
  color: white!important;
}
.todo-header{
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 32px 0 12px;
  margin: 0 21px;
}
.info{
  font-family: "Roboto Condensed", sans-serif;
  padding: $gap-vertical/2 $gap-horizontal;
  color: $gray-light;
  text-align: center;
}
.time-header {
  text-align: center;
  width: 50px;
  margin-left: 24px;
  margin-right: auto;
  border-left: $border;
  color: white;
  background-color: $gray;
  padding: $gap-vertical/3 $gap-horizontal/3;
  font-family: "Roboto Condensed", sans-serif;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 13px;
  @media (max-width: 650px){
    width: 100%;
    text-align: center;
    margin-left: 0;
    border: 0;
    padding: 4px 0;
  }
}

.list-container {
  padding: 0 $gap-horizontal;
  max-width: 600px;
  width: 100%;
  @media (max-width:650px) {
  padding: 0;
}
  .control-panel{
    margin-left: 24px;
    padding-top: $gap-vertical;
    button{
      margin-right: $gap-horizontal/2;
      background-color: $gray;
      border: 0;
      border-radius: 4px;
      padding: $gap-vertical/3 $gap-horizontal/3;
      color: $gray-light;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
  }
  .add-btn-container {
    cursor: pointer;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background: #3c4255;
    background: $gradient;
    margin: $gap-vertical 0;
    margin-left: 24px;
    border-radius: 4px;
    @media (max-width: 650px) {
      margin-left: 0;
      border-radius: 0;
    }
    .add-btn {
      border-radius: 20px;
      color: rgba(255,255,255,0.9);
      border: 0;
      font-size: 28px;
      transition: color .2s ease-in;
    }
  }
}
.control-panel button:hover{
  background-color: $gray-hover!important;
}
.add-btn-container:hover{
  background: $gradient-hover;
}
.add-btn-container:hover .add-btn{
  color: #5981ea!important;
}
