<div class="modal">
  <div class="modal-inner">
  <button class="close-btn" (click)="close.emit();
"><i class="fa fa-times"></i></button>
  <form ngNativeValidate (ngSubmit)="onSubmit()">
    <label class="label-1" for="header">Title</label>
    <input id="header" type="text" [(ngModel)]="header" name="header" required>
    <label class="label-2" for="description">Description</label>
    <textarea id="description" [(ngModel)]="description" name="description"></textarea>
    <label class="label-3" for="deadline">Deadline</label>
    <input id="deadline" type="datetime-local" [(ngModel)]="deadline" name="description" required>
    <button type="submit">Submit</button>
  </form>
</div>
</div>
